[Unit]
Description=Docker container DNS
After=network.target
StartLimitIntervalSec=0
[Service]
Type=simple
Restart=always
RestartSec=1
User=root
ExecStart=/path/to/dcdns

[Install]
WantedBy=multi-user.target